.images
{
  border:2px solid blue;
  padding:28px;
  margin:10px;
  float:left;
}
img{
  padding: 5px;
  width:180px;
  height: 180px;
  border: 1px solid black;
}
.images1
{
  border:2px solid blue;
  padding:28px;
  margin:10px;
  position: relative;
  float: right;
  }
h3{
  color:black;
  text-align: center;
  font-size: 1.5em;
}
